{% load static %}
<div class="header_panel">
    <div class="header_panel-item">
        <img src="{% static 'store/images/icons/search_icon.svg' %}" alt="">
    </div>
    <div class="header_panel-item">
        {% if request.user.is_authenticated %}
        <a href="{% url 'favourite' %}">
        <img src="{% static 'store/images/icons/basket_icon.svg' %}" alt="">
        </a>
        {% else %}
        <a href="{% url 'login_register' %}">
        <img src="{% static 'store/images/icons/basket_icon.svg' %}" alt="">
        </a>
        {% endif %}
    </div>
    <div class="header_panel-item">
        <img src="{% static 'store/images/icons/ru_lang_icon.svg' %}" alt="">
    </div>
    <div class="header_panel-item">
        <img src="{% static 'store/images/icons/user_icon.svg' %}" alt="">
    </div>
</div>